<div class="col-md-8 ">
  <div class="card mb-3">
    <div class="card-body">
      <%= form_for(user) do |f| %>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t('users.name') %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= f.text_field :name, :placeholder => t('users.name_placeholder'), class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t('users.surname') %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= f.text_field :surname, :placeholder => t('users.surname_placeholder'), class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t('users.age') %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= f.text_field :age, :placeholder => t('users.age_placeholder'), class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t('users.avatar') %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= f.file_field :avatar, class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t('users.phone_number') %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= f.text_field :phone_number, :placeholder => t('users.phone_placeholder'), class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t('users.passport_number') %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= f.text_field :passport_number, :placeholder => t('users.passport_placeholder'), class: "form-control" %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <%= f.submit t('users.update_profile'), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
