<div class="container mt-5">
<div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4><%= "#{@user.name} #{@user.surname}" %></h4>
                <%= form_for(@user) do |f| %>
                  <%= f.file_field :avatar, class: "form-control" %>
                  <br/>
                  <%= f.submit t('users.upload_image'), class: "btn btn-primary" %>
                 <% end %>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <h4><%= t('users.your_wallets') %></h4>
        <div class="card mt-3">
          <ul class="list-group list-group-flush">
          <% @user.wallets do |wallet| %>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg><%= "#{wallet.wallet_number}" %></h6>
              <span class="text-secondary"><%= "#{@user.name}" %></span>
            </li>
          <% end %>
          </ul>
          <%= link_to t('users.add_wallet'), user_path(@user), class: "btn btn-primary" %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t('users.name') %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= "#{@user.name}" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t('users.surname') %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= "#{@user.surname}" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t('users.age') %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= "#{@user.age}" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t('users.email') %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= "#{@user.email}" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t('users.phone_number') %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= "#{@user.phone_number}" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t('users.passport_number') %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= "#{@user.passport_number}" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <%= link_to t('users.edit'), edit_user_url(@user.id), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
