<div class="container">
	<div class="row mt-4 text-center">
		<h2 class="text-left"> <%=t ('about_us.about_title')%></h2>
	</div>
	<div class="row ">
		<div class="col-12 bg-light text-dark">
			<ul>
   			<li><p class="text-primary"><strong><%=t ('about_us.why_created_title') %></strong></p>
   			</li>
					<p><%=t ('about_us.why_created') %></p>
				<li><p class="text-primary"><strong><%=t ('about_us.used_technologies') %></strong></p></li>
					<p>Rails, Puma, Nginx, Postgresql, Redis, Bootstrap</p>
			</ul>
		<div>
	</div>
</div>
<div class="row mt-3">
<h2 class="text-center"> <%=t ('about_us.team_title') %> </h2>
</div>
<div class="container ">
  <div class="row mt-3">
    <div class="col-sm-8 ">
    	<h5 class="text-center"> <%=t ('about_us.boris') %> </h5>
      	<h6><em><%=t ('about_us.contacts_title') %></em></h6> 
				<p>GitHub: <a href="https://github.com/B0RlS">B0RlS</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/boris-tsarikov-46a693178/">Boris Tsarikov</a></p> 
				<p>Email: <a href="mailto: Boris.Tsarikov@gmail.com">Boris.Tsarikov@gmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/boris_tsarikov">@boris_tsarikov</a></p> 
		</div>
		<div class="col-sm-4 my-auto">
			<img src="https://smart-banking.s3.us-east-2.amazonaws.com/team/photo_2021-02-21_22-16-52.jpg" alt="Admin" class="rounded-circle" width="150">
		</div>
	</div>
	</div>
	<div class="container ">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"> <%=t ('about_us.vlad') %></h5>
      	<h6><em><%=t ('about_us.contacts_title') %></em></h6> 
				<p>GitHub: <a href="https://github.com/m3xq">m3xq</a></p> 
				<!-- <p>LinkedIn: <a href="">Vladislav Mitin</a></p>  -->
				<p>Email: <a href="mailto: z3w1l0q@protonmail.com">z3w1l0q@protonmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/m3xxq">@m3xxq</a></p> 
		</div>
		<div class="col-sm-4 my-auto">
			<img src="https://smart-banking.s3.us-east-2.amazonaws.com/team/photo_2021-04-26_14-23-16.jpg" alt="Admin" class="rounded-circle" width="150">
		</div>
	</div>
	</div>
	<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"> <%=t ('about_us.liza') %></h5>
      	<h6><em><%=t ('about_us.contacts_title') %></em></h6> 
				<p>GitHub: <a href="https://github.com/lizamuromskaya"> lizamuromskaya</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/lizaveta-muromskaya/">Lizaveta Muromskaya</a></p> 
				<p>Email: <a href="mailto: lizavetamuromskaya@gmail.com">lizavetamuromskaya@gmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/lizaveta02">@lizaveta02</a></p> 
		</div>
		<div class="col-sm-4 my-auto">
			<img src="https://smart-banking.s3.us-east-2.amazonaws.com/team/2021-07-01_21-19.png" alt="Admin" class="rounded-circle" width="150">
		</div>
	</div>
	</div>
	<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"><%=t ('about_us.egor') %></h5>
      	<h6><em><%=t ('about_us.contacts_title') %></em></h6>
				<p>GitHub: <a href="https://github.com/Captain-Vorobey"> Captain-Vorobey</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/egor-vorobyov-81419919b/">Egor Vorobyov</a></p> 
				<p>Email: <a href="mailto: vorobyov_egor@bk.ru">vorobyov_egor@bk.ru</a></p> 
				<p>Telegram: <a href="https://t.me/captain_vorob">@captain_vorob</a></p> 
		</div>
		<div class="col-sm-4 my-auto">
			<img src="https://smart-banking.s3.us-east-2.amazonaws.com/team/2021-07-01_22-55.png" alt="Admin" class="rounded-circle" width="150">
		</div>
	</div>
	</div>
		<div class="container">
  <div class="row">
    <div class="col-sm-8">
    	<h5 class="text-center"> <%=t ('about_us.vitaliy') %></h5>
      	<h6><em><%=t ('about_us.contacts_title') %></em></h6> 
				<p>GitHub: <a href="https://github.com/vitalygv">vitalygv</a></p> 
				<p>LinkedIn: <a href="https://www.linkedin.com/in/vitaly-gavrilenya/">Vitaly Gavrilenya </a></p> 
				<p>Email: <a href="mailto: kewl.dkmr@gmail.com">kewl.dkmr@gmail.com</a></p> 
				<p>Telegram: <a href="https://t.me/vitalyg">@vitalyg</a></p>  
		</div>
		<div class="col-sm-4 my-auto">
			<img src="https://smart-banking.s3.us-east-2.amazonaws.com/team/photo_2021-02-18_20-18-34.jpg" alt="Admin" class="rounded-circle" width="150">
		</div>
	</div>
</div>
