<div class='text-center mt-5'>
<h1><%= t 'home.welcome' %></h1>
</div>
<style>
.ml-2{
  margin-left: 14%;
}
</style>

<div class="container">
<div class="row">
  <div class="col-8">
    <% @posts.each do |post|%>
      <div class="row mt-4">
        <div class="col-lg-10">
          <h2><%= post.name %></h2>
          <% if post.avatar.attached? %>
            <div>
              <div class="rounded float-start">
                <img src="<%= (url_for(post.avatar)) %>" alt="Admin" class="rounded-circle" width="80" height="80" >
          <% else %>
            <img src="https://smart-banking.s3.us-east-2.amazonaws.com/post1.png" alt="Admin" class="rounded-circle" width="100">
          <% end %>
              </div>
            </div>
          <div class='ml-2'>
            <%= post.description.slice(0..160) + '...' %>
            <%= link_to t('post.show_more'), post_path(post) %> <br>
          </div>
            <em>
              <%= l(post.created_at, format: '%e %B %Y') %> <%=t ('home.at') %>
              <%= l(post.created_at, format: '%H:%M') %></em>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col mt-5">
    <%= render 'shared/currencies' %>
  </div>
</div>
</div>
<%= paginate @posts %>
