<div class="container">
	<div class="row mt-4 text-center">
		<h2 class="text-left"><%=t ('support.support_title')%> </h2>
	</div>
	<h5>FAQ</h5>
	  <div class="mt-5 col-lg-7 col-md-6 col-sm-12 desc">
        <h5><%= 'Some instruction' %></h6>
  	  <%= 'Plans for future expansion Later this year, uSky plans to build a 2.4 kilometer (1.5 mile) line in Sharjah, allowing it to run the passenger pod at higher speeds and demonstrate how passenger and cargo pods can be integrated into the same network. According to Hussain Al Mahmoudi, CEO of Sharjah Research Technology and Innovation Park, where uSky\'s test lines are located, the hope is for sky pods to boost the emirate\'s strategy of becoming a sustainable, futuristic hub.' %>
    </div>
	  <div class="mt-5 col-lg-7 col-md-6 col-sm-12 desc">
        <h5><%= 'Small info about us' %></h6>
  	  <%= 'Plans for future expansion Later this year, uSky plans to build a 2.4 kilometer (1.5 mile) line in Sharjah, allowing it to run the passenger pod at higher speeds and demonstrate how passenger and cargo pods can be integrated into the same network. According to Hussain Al Mahmoudi, CEO of Sharjah Research Technology and Innovation Park, where uSky\'s test lines are located, the hope is for sky pods to boost the emirate\'s strategy of becoming a sustainable, futuristic hub.' %>
    </div>
	  <div class="mt-5 col-lg-7 col-md-6 col-sm-12 desc">
        <h5><%= 'You can write to our telegram bot with your questions' %></h6>
  	  <%= 'Plans for future expansion Later this year, uSky plans to build a 2.4 kilometer (1.5 mile) line in Sharjah, allowing it to run the passenger pod at higher speeds and demonstrate how passenger and cargo pods can be integrated into the same network. According to Hussain Al Mahmoudi, CEO of Sharjah Research Technology and Innovation Park, where uSky\'s test lines are located, the hope is for sky pods to boost the emirate\'s strategy of becoming a sustainable, futuristic hub.' %>
		<br/>
		<br/>
        <h6><%= 'Our telegram bot: --- chvrnBot ---' %></h6>
	</div>
</div>