<div class="container">
	<div class="row mt-4 text-center">
		<h2 class="text-left"><%=t ('support.support_title')%> </h2>
	</div>
	  <div class="mt-5 col-lg-7 col-md-6 col-sm-12 desc">
        <h5><%=t ('support.instruction') %></h6>
	  <%=t ('support.support_desc') %>
    </div>
	  <div class="mt-5 col-lg-7 col-md-6 col-sm-12 desc">
        <h5><%=t ('support.info_title') %></h6>
	  <%=t ('support.small_info') %>
    </div>
	  <div class="mt-5 col-lg-7 col-md-6 col-sm-12 desc">
        <h5><%=t ('support.faq_title') %></h6>
  	  <%=t ('support.faq') %>
		<br/>
		<br/>
        <h6><%=t ('support.tg_bot') %><a href="https://t.me/chvrnBot">SMARTBOT</a></h6>
	</div>
</div>